/* police here */
@import url('https://fonts.googleapis.com/css?family=Seaweed+Script&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    font-family: 'Seaweed Script', cursive;
    color: rgb(17, 80, 122);
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    border: 5px solid black;
    background-image: url("./../images/under-the-sea-game-background.png");
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.titleAndTrash {
    display: block;
    margin: 20px auto 0;
}

h1 {
    width: 400px;
    font-size: 50px;
    text-align: center;
    border: 4px dotted #1C6EA4;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
}

.trash {
    text-align: center;
    margin: 25px auto 0 auto;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash-img+.trash-img {
    margin-left: 10px;
}


.trash-img.chaussure {
    height: 50px;
    display: block;
}

.trash-img.bouteille {
    height: 70px;
    display: block;
    transform: rotate(10deg);
}

.trash-img.sac {
    height: 70px;
    display: block;
    margin-left: 30px;
    transform: rotate(-15deg);
}

.start {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.diver-start-page {
    width: 250px;
    position: absolute;
    top: 40%;
    left: 20px;
    animation: float 4s ease-in-out infinite;
}

/* permet de rajouter l'animation de flottement !! en ajoutant animation: float sur les elements targets */
@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.turtle-start-page {
    width: 100px;
    position: absolute;
    top: 40%;
    right: 150px;
    animation: float 4s ease-in-out infinite;
    animation-delay: 0.5s;
}

.rule {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

a.button {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 20px 30px;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 300;
    text-align: center;
    background-color: teal;
}

a.button:hover {
    border-color: white;
}

/* ABOVE : CSS for the first page. Put in a different file "start-page.css" for example ? */
/* ******************************************************* */
/* BELOW : CSS for the */


#sea-screen {
    width: 1000px;
    height: 600px;
    background-image: url("./../images/under-the-sea-game-background.png");
    background-size: cover;
    background-position: bottom;
    position: relative;
}

#diver {
    width: 200px;
    height: 120px;
    position: absolute;
    /* top: 200px;
    left: 100px;
    pas besoin vu qu'on créé une nouvelle instance*/
}

#turtle {
    width: 100px;
    position: absolute;
    border: 1px dotted rgba(127, 217, 253, 0.904);
    border-radius: 5px;
    /* top: 400px;
    left: 700px; */
}

.shoe {
    width: 70px;
    position: absolute;
    height: 42px;
    /* top: 0px;
    left: 100px; */
}

.bottle {
    width: 25px;
    position: absolute;
    top: 520px;
    left: 450px;
    transform: rotate(10deg);
}

.plasticBag {
    width: 50px;
    position: absolute;
    top: 520px;
    left: 700px;
    transform: rotate(-15deg);
}

.getAndScore {
    border: 5px dotted white;
    border-radius: 10px;
    width: 250px;
    height: 100px;
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.score {
    font-size: 30px;
    color: white;
    display: block;
    margin: 0;
    padding: 10px;

}

.garbage {
    height: 50px;
    display: block;
}


/* ******************************************************* */
/* BELOW : CSS for the popUpWin & popUpLoose